body {
    margin: 0;
   font-family:Georgia, 'Times New Roman', Times, serif;
    padding:0;
    background: #004232;
}
.heading{ 
    font-size: larger;
    background-color: rgb(0, 255, 200); 
    color:rgb(255, 255, 255);
    font-weight: bolder;
    background-blend-mode:hard-light;
    background: linear-gradient( rgba(45, 0, 54, 0.5),rgb(0, 0, 0)),url(Images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.heading h2{
    font-weight: bolder;
}

.header {
    
    background-color: #41ffef;
    color: rgb(65, 0, 0);
    text-align: center;
    padding: 10px;
    font-weight: bolder;
   font-size: larger;
}
.header h1{
    font-size:larger;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    min-height: auto;
    flex-wrap: nowrap;
}
.navbar a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.navbar a:hover {
    color: #c50000;
    text-decoration: underline;
}

.main{
    padding: 30px;
    margin-left: 12px;
}
.main2{
    padding: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fffeaa;
    min-height: auto;
}
.cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.card {
    text-align: center;
    background: #d2fff4;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    border-color: #000000;
}
.card:hover{
    background-color: #009185;
    color: #ffffff;
    transform:translateY(-5px);
    transform:scale(1.05);
    transition:0.2s;
    border-color: #040042;
    box-shadow: 0px 8px 18px rgba(44, 53, 50, 0.308);
}
.card h3 {
    color: #002c2a;
    text-align: center;
}
.card:hover h3 {
    font-weight: bolder;
    color: #fbff00;
    text-align: center;
}

.buttons {
    
    margin-top: 30px;
   display:flex;
   justify-content: center;
}
.buttons:hover{
    transform:scale(1.05);
}
.my-btn {
   background-color: #016661;
   color:#ffffeb;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
    
}
.my-btn1 {
  
   color:#00ffcc;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.my-btn:hover  {
    background-color: #fffefe;
    color: #00413b;
}

.footer {
    background-color: #003133;
    color: white;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: row;
    
    }
    .navbar a {
        margin: 10px 0;
        font-size: medium;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
    .header h1 {
        font-size: 24px;
    }
    .main {
        padding: 15px;
    }
    
    .reg{
       
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    }
}

.login-section {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Images/background.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
.navbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #e1fffb;
    padding: 5px 10px;
    text-align: center;
    min-height: auto;
    flex-wrap: nowrap;
}
.navbar1 a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.navbar1 a:hover {
    color: #c50000;
    text-decoration: underline;
}
.navbar1 h2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.login-box {
    background: rgb(212, 255, 249);
    color:rgb(0, 0, 0);
    padding: 30px;
    width: 40dvw;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color:#d1ffff;
}
.login-box h2 {
    margin-bottom: 20px;
    color: #020202;
    font-size:xx-large;
}
.login-box a{
    color:rgb(0, 70, 66);
}
.login-box a:hover{
    color:#6e3b00;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.text {
    margin-top: 15px;
}
.nav-brand{
    color: aquamarine;
    font-weight: 600;
    font-size:x-large;
    
}
@media (max-width: 768px) {
    .login-box {
        width: 90%;
    }
}

.dashboard {
    padding: 30px;
    text-align: center;
    background: #002c2a;
}

.dash-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.donorhead{
    font-size: x-large;
}
.dash-card {
    background: white;
    width: 230px;
    margin: 15px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.dash-card a:hover{
    font-weight: bolder;
    outline-style:groove;
    outline-color: #003127;
}
.dash-card a{
    font-weight: bolder;
    outline-style:groove;
    outline-color: #003127;
    background-color: #003127;
    color: #e1f3ff;
}
.dash-card h3 {
    color: #003f3a;
    margin-bottom: 10px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .dash-card {
        width: 90%;
    }
}
