body {
    margin: 0;
   font-family:Georgia, 'Times New Roman', Times, serif;
    padding:0;
    background: #003038;
}
.heading{
    background-color: #031614;
}
.header {
    
    background-color: #003127;
    color: white;
    text-align: center;
    padding: 10px;

}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #fffeaa;
    padding: 5px 10px;
    text-align: center;
    min-height: auto;
    flex-wrap: nowrap;
}
.navbar a {
    color: rgb(0, 34, 10);
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    color: #c50000;
    text-decoration: underline;
}

.main{
    padding: 30px;
    margin-left: 12px;
}
.main2{
    padding: 10px;
    background-color: #003127;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fffeaa;
    min-height: auto;
}
.cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.card {
    text-align: center;
    background: rgb(233, 255, 241);
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.card h3 {
    color: #002c2a;
    text-align: center;
}
.card a{
    color: #1a554d;
    text-decoration: none;
}
.card a:hover{
    color: #c50000;
    text-decoration: none;
}
.buttons {
    
    margin-top: 30px;
   display:flex;
   justify-content: center;
}
.my-btn {
   background-color: #fffb00;
   color:#003127;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
    
}
.my-btn1 {
  
   color:#00ffcc;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.my-btn:hover ,.my-btn1:hover {
    background-color: #1a5ec400;
    color: #fffb00;
}
.footer {
    background-color: #4c5500;
    color: white;
    font-style: italic;
    text-align: center;
    height: 5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: row;
    
    }
    .navbar a {
        margin: 10px 0;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
    .header h1 {
        font-size: 24px;
    }
    .main {
        padding: 15px;
    }
    .main2{
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    .reg{
       
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    }
}

.login-section {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #002c2a;
}
.login-box {
    background: rgb(0, 46, 40);
    color:white;
    padding: 30px;
    width: 40dvw;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color:rgb(0, 66, 61);
}
.login-box h2 {
    margin-bottom: 20px;
    color: #ffffff;
}
.login-box a{
    color:yellow;
}
.login-box a:hover{
    color:#00f7ff;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.text {
    margin-top: 15px;
}
.nav-brand{
    color: aquamarine;
    font-weight: 600;
    font-size:x-large;
    
}
@media (max-width: 768px) {
    .login-box {
        width: 90%;
    }
}

.dashboard {
    padding: 30px;
    text-align: center;
}

.dash-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.donorhead{
    font-size: x-large;
}
.dash-card {
    background: white;
    width: 230px;
    margin: 15px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.dash-card a:hover{
    font-weight: bolder;
    outline-style:groove;
    outline-color: #003127;
}
.dash-card a{
    font-weight: bolder;
    outline-style:groove;
    outline-color: #003127;
    background-color: #003127;
    color: #e1f3ff;
}
.dash-card h3 {
    color: #003f3a;
    margin-bottom: 10px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .dash-card {
        width: 90%;
    }
}
